# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.pytest_cache/
htmlcov/
.coverage

# ------------------------
# Node
# ------------------------
node_modules/
dist/
build/
.next/
.eslintcache

# ------------------------
# OS
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log
